@height: 70vh;
@width: 70vw;
@border-color: #AAA;

@import "icons";
@import "./modules/module_control_group";


.photo-widget {
  font-size: 67.2%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  &.is-column-layout {
    flex-direction: column;
  }

  &.is-column-reverse-layout {
    flex-direction: column-reverse;
  }

  &.is-row-reverse-layout {
    flex-direction: row-reverse;
  }

  .photo-widget_tools {
    order: 0;
    flex: 0 0 22em;
    align-self: stretch;
    background-color: #EEE;
    height: 100vh;
  }

  .photo-widget_workspace {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    overflow: hidden;
    height: 100%;
    background: white;
    position: relative;
    &.has-photo {
      .photo-widget_editor {

        z-index: 3;
      }
      .photo-widget_upload-instructions {
        z-index: 2;
      }
    }
    &.is-dragover .photo-widget_upload-instructions {
      background-color: grey;
    }
  }
}

.photo-widget_editor {
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: white;
  text-align: center;

}

.photo-widget_upload-instructions {
  overflow: hidden;
  outline: 2px dashed #AAA;
  outline-offset: -6px;
  margin: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  p {
    text-align: center;
    font-size: 2em;
    line-height: 100%;
    label {
      color: lightblue;
      transition: 0.5s color;
      cursor: pointer;
      &:hover {
        color: blue;
      }
      input {
        display: none;
      }
    }

  }
  .hasDrag {
    display: none;
  }
  .doesNotHaveDrag {
    display: block;
  }

  &.has-advanced-upload {
    .hasDrag {
      display: block;
    }
    .doesNotHaveDrag {
      display: none;
    }
  }

}

.photo-widget_editor canvas {
  display: inline-block;

  border: solid 1px @border-color;
  margin: 0;
  vertical-align: middle;

  &.is-moving {
    cursor: move;
  }
  &.is-cropping {
    cursor: nwse-resize;
  }
}

.photo-widget_toolbar {
  min-height: 3em;
  padding: 0;
  border: none;

  vertical-align: middle;
  > label {
    font-size: 1em;
    display: block;
    margin: 0.1em;
    min-height: 2em;
    background-color: #EEE;
    padding: 0.1em;
    display: block;
  }
  .photo-widget_blocky-label {
    display: block;
  }

}

.photo-widget_tabs{
  width: 100%;
  height : 45px;


  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .photo-widget_tab{
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    overflow: hidden;
    text-align:center;
  }
}

.photo-widget_tab-panels{
  width: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .photo-widget_control-group{

    overflow: hidden;
    text-align:left
  }
}

button {

  border: solid 1px @border-color;
  background: #DDD;
  padding: .25em .5em;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
  outline: none;

  &.is-active {
    background-color: rgba(150,150,150, 1);
  }
}

.photo-widget_control-group {
  margin: 0;
  text-align: center;
  &.is-open{
   }
}

.spinner-box {
  position: relative;
  top: 50%;
  z-index: 4;
  transform: translateY(-50%);
  height: 140px;
  padding-top: 40px;
  width: 182px;
  margin: 0 auto;
}

.spinner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 100, 0.5);
  margin: 5em auto;
  position: relative;
  span:first-child {
    display: block;
    position: absolute;
    top: -15px;
    left: -15px;
    height: 0px;
    width: 0px;
    border-left: solid 65px transparent;
    border-right: solid 65px transparent;
    border-top: solid 65px rgba(255, 100, 100, 0.5);
    border-bottom: solid 65px transparent;
    border-radius: 50% 50% 0 0;
    animation: spin 9s linear infinite;
  }
  span:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    height: 0px;
    width: 0px;
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
    border-top: solid 40px rgba(100, 100, 255, 0.5);
    border-bottom: solid 40px transparent;
    border-radius: 50% 50% 0 0;
    animation: spinBackwards 2s linear infinite;
  }
  span:last-child {
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    height: 0px;
    width: 0px;
    border-left: solid 60px transparent;
    border-right: solid 60px transparent;
    border-top: solid 60px rgba(100, 255, 100, 0.5);
    border-bottom: solid 60px transparent;
    border-radius: 50% 50% 0 0;
    animation: spinBackwards 15s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes spinBackwards {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

//STATES
.is-hidden {
  display: none;
}

.is-column-layout{}

.is-row-layout{}

.is-column-reverse-layout{}

.is-row-reverse-layout{}


&.is-cropping {
  &.photo-widget_editor {
    cursor: url(../assets/crop.png), default;
  }
}

&.is-rotating {
}
&.is-scaling {
}
&.is-zooming {
}
&.is-dragging {
}
&.is-loading {
  &.photo-widget_editor {
    cursor: url(../assets/spinner10.png), default;
  }
}
&.is-saving {
  &.photo-widget_editor {
    cursor: url(../assets/spinner10.png), default;
  }
}
&.is-busy {
  &.photo-widget_editor {
    cursor: url(../assets/spinner10.png), default;
  }
}
