.module_control_group {
  display: inline-block;
  height: 45px;
  width: 0px;
  border: none;
  transition: width 1s, flex 1s;
  overflow: hidden;
  flex: 0 1 0px;
  order: 0;
  align-self: stretch;
  .module_control_group-container {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #DDD;
  }

  .module_control_group-tool_group_container {
    display: inline-block;
    height: 45px;
    vertical-align: middle;
    margin: 3px 10px;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #AAA;
    background-color: #EDEDED;
    padding: 2px 1.5em;
    box-shadow: 0 1px 1px #FFF, 0 -1px 1px #FFF;
  }

  &.is-open {
    width: 100%;
    flex: 1 1 auto;
  }
}

.module_control_group-tool_switch {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #AAA;
  border-right: none;
  background: #DDD;
  border-radius: 0px;
  padding: .25rem .5rem;
  text-align: center;
  transition: background-color 0.25s;
  cursor: pointer;
  min-height: 43px;
  width: 100%;
}